In [1]:
import pandas as pd;
import numpy as np;
import matplotlib as mt;
import seaborn as sb;

In [2]:
file='C:/Users/admin/Desktop/52 DSBDA/IRIS.csv'

In [3]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [4]:
iris = pd.read_csv(file)

In [5]:
iris = pd.read_csv(file, names = col_names)

In [6]:
iris.head(n=5)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0  sepal_length  sepal_width  petal_length  petal_width      species
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9            3           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa

In [7]:
iris.tail(n=5)

    Sepal_Length Sepal_Width Petal_Length Petal_Width         Species
146          6.7           3          5.2         2.3  Iris-virginica
147          6.3         2.5            5         1.9  Iris-virginica
148          6.5           3          5.2           2  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9           3          5.1         1.8  Iris-virginica

In [8]:
iris.tail(n=20)

    Sepal_Length Sepal_Width Petal_Length Petal_Width         Species
131          7.4         2.8          6.1         1.9  Iris-virginica
132          7.9         3.8          6.4           2  Iris-virginica
133          6.4         2.8          5.6         2.2  Iris-virginica
134          6.3         2.8          5.1         1.5  Iris-virginica
135          6.1         2.6          5.6         1.4  Iris-virginica
136          7.7           3          6.1         2.3  Iris-virginica
137          6.3         3.4          5.6         2.4  Iris-virginica
138          6.4         3.1          5.5         1.8  Iris-virginica
139            6           3          4.8         1.8  Iris-virginica
140          6.9         3.1          5.4         2.1  Iris-virginica
141          6.7         3.1          5.6         2.4  Iris-virginica
142          6.9         3.1          5.1         2.3  Iris-virginica
143          5.8         2.7          5.1         1.9  Iris-virginica
144          6.8         3.2          5.9         2.3  Iris-virginica
145          6.7         3.3          5.7         2.5  Iris-virginica
146          6.7           3          5.2         2.3  Iris-virginica
147          6.3         2.5            5         1.9  Iris-virginica
148          6.5           3          5.2           2  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9           3          5.1         1.8  Iris-virginica

In [9]:
iris.index

RangeIndex(start=0, stop=151, step=1)

In [10]:
iris.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [11]:
iris.columns.values

array(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'], dtype=object)

In [12]:
iris.shape

(151, 5)

In [13]:
iris.dtypes

Sepal_Length    object
Sepal_Width     object
Petal_Length    object
Petal_Width     object
Species         object
dtype: object

In [14]:
iris.describe(include='all')

       Sepal_Length Sepal_Width Petal_Length Petal_Width      Species
count           151         151          151         151          151
unique           36          24           44          23            4
top               5           3          1.5         0.2  Iris-setosa
freq             10          26           14          28           50

In [15]:
iris['Sepal_Width']

0      sepal_width
1              3.5
2                3
3              3.2
4              3.1
          ...
146              3
147            2.5
148              3
149            3.4
150              3
Name: Sepal_Width, Length: 151, dtype: object

In [16]:
iris.sort_index(axis=1,
ascending=False)

            Species  Sepal_Width  Sepal_Length  Petal_Width  Petal_Length
0           species  sepal_width  sepal_length  petal_width  petal_length
1       Iris-setosa          3.5           5.1          0.2           1.4
2       Iris-setosa            3           4.9          0.2           1.4
3       Iris-setosa          3.2           4.7          0.2           1.3
4       Iris-setosa          3.1           4.6          0.2           1.5
..              ...          ...           ...          ...           ...
146  Iris-virginica            3           6.7          2.3           5.2
147  Iris-virginica          2.5           6.3          1.9             5
148  Iris-virginica            3           6.5            2           5.2
149  Iris-virginica          3.4           6.2          2.3           5.4
150  Iris-virginica            3           5.9          1.8           5.1

[151 rows x 5 columns]

In [17]:
iris.sort_values(by="Sepal_Width")

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width          Species
61              5            2           3.5            1  Iris-versicolor
69            6.2          2.2           4.5          1.5  Iris-versicolor
63              6          2.2             4            1  Iris-versicolor
120             6          2.2             5          1.5   Iris-virginica
94              5          2.3           3.3            1  Iris-versicolor
..            ...          ...           ...          ...              ...
15            5.8            4           1.2          0.2      Iris-setosa
33            5.2          4.1           1.5          0.1      Iris-setosa
34            5.5          4.2           1.4          0.2      Iris-setosa
16            5.7          4.4           1.5          0.4      Iris-setosa
0    sepal_length  sepal_width  petal_length  petal_width          species

[151 rows x 5 columns]

In [18]:
iris.iloc[5]

Sepal_Length              5
Sepal_Width             3.6
Petal_Length            1.4
Petal_Width             0.2
Species         Iris-setosa
Name: 5, dtype: object

In [19]:
iris.iloc[:5 :]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0  sepal_length  sepal_width  petal_length  petal_width      species
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9            3           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa

In [20]:
iris.iloc[:10, :3]

   Sepal_Length  Sepal_Width  Petal_Length
0  sepal_length  sepal_width  petal_length
1           5.1          3.5           1.4
2           4.9            3           1.4
3           4.7          3.2           1.3
4           4.6          3.1           1.5
5             5          3.6           1.4
6           5.4          3.9           1.7
7           4.6          3.4           1.4
8             5          3.4           1.5
9           4.4          2.9           1.4

In [21]:
iris.loc[:, ["Sepal_Length",
"Petal_Length"]]

     Sepal_Length  Petal_Length
0    sepal_length  petal_length
1             5.1           1.4
2             4.9           1.4
3             4.7           1.3
4             4.6           1.5
..            ...           ...
146           6.7           5.2
147           6.3             5
148           6.5           5.2
149           6.2           5.4
150           5.9           5.1

[151 rows x 2 columns]

In [22]:
iris['Petal_Length'].iloc[5]

'1.4'

In [23]:
iris.iloc[3:7, 2:5]

  Petal_Length Petal_Width      Species
3          1.3         0.2  Iris-setosa
4          1.5         0.2  Iris-setosa
5          1.4         0.2  Iris-setosa
6          1.7         0.4  Iris-setosa

In [24]:
iris.iloc[[1,2,4,6], [0,3,4]]

  Sepal_Length Petal_Width      Species
1          5.1         0.2  Iris-setosa
2          4.9         0.2  Iris-setosa
4          4.6         0.2  Iris-setosa
6          5.4         0.4  Iris-setosa

In [25]:
iris.iloc[1:3, :]

  Sepal_Length Sepal_Width Petal_Length Petal_Width      Species
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9           3          1.4         0.2  Iris-setosa

In [26]:
iris.describe(include="all")

       Sepal_Length Sepal_Width Petal_Length Petal_Width      Species
count           151         151          151         151          151
unique           36          24           44          23            4
top               5           3          1.5         0.2  Iris-setosa
freq             10          26           14          28           50

In [27]:
iris.iloc[5]

Sepal_Length              5
Sepal_Width             3.6
Petal_Length            1.4
Petal_Width             0.2
Species         Iris-setosa
Name: 5, dtype: object

In [28]:
iris.iloc[:2,:4]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0  sepal_length  sepal_width  petal_length  petal_width
1           5.1          3.5           1.4          0.2

In [29]:
iris.iloc[1:3, :]

  Sepal_Length Sepal_Width Petal_Length Petal_Width      Species
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9           3          1.4         0.2  Iris-setosa

In [30]:
iris.iloc[:, 1:3]

     Sepal_Width  Petal_Length
0    sepal_width  petal_length
1            3.5           1.4
2              3           1.4
3            3.2           1.3
4            3.1           1.5
..           ...           ...
146            3           5.2
147          2.5             5
148            3           5.2
149          3.4           5.4
150            3           5.1

[151 rows x 2 columns]

In [31]:
iris.iloc[1,2]

'1.4'

In [32]:
iris.iloc[1,1]

'3.5'

In [33]:
iris.head(n=10)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0  sepal_length  sepal_width  petal_length  petal_width      species
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9            3           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa
5             5          3.6           1.4          0.2  Iris-setosa
6           5.4          3.9           1.7          0.4  Iris-setosa
7           4.6          3.4           1.4          0.3  Iris-setosa
8             5          3.4           1.5          0.2  Iris-setosa
9           4.4          2.9           1.4          0.2  Iris-setosa

In [34]:
iris.iloc[2,0]

'4.9'

In [35]:
iris['Sepal_Length'].iloc[6]

'5.4'

In [36]:
iris.isnull()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False
150         False        False         False        False    False

[151 rows x 5 columns]

In [37]:
iris.isnull().any()

Sepal_Length    False
Sepal_Width     False
Petal_Length    False
Petal_Width     False
Species         False
dtype: bool

In [40]:
movies = 'C:/Users/admin/Desktop/52 DSBDA/movies.csv'

In [41]:
movie = pd.read_csv(movies)

In [42]:
movie.head()

   rank                moive_name  rating  year
0     1  The Shawshank Redemption     9.2  1994
1     2                       NaN     9.2  1972
2     3           The Dark Knight     9.0  2008
3     4     The Godfather Part II     9.0  1974
4     5              12 Angry Men     8.9   NaN

In [43]:
movie.isnull().any()

rank          False
moive_name     True
rating         True
year           True
dtype: bool

In [44]:
movie.isnull().sum(axis = 1)

0      0
1      1
2      0
3      0
4      1
      ..
445    0
446    0
447    0
448    0
449    0
Length: 450, dtype: int64

In [45]:
movie.isnull().sum()

rank          0
moive_name    1
rating        1
year          1
dtype: int64

In [46]:
movie.dtypes

rank            int64
moive_name     object
rating        float64
year           object
dtype: object

In [47]:
iris.dtypes

Sepal_Length    object
Sepal_Width     object
Petal_Length    object
Petal_Width     object
Species         object
dtype: object